/vendor/
debian/.debhelper/
debian/multiflexi-executor/
debian/multiflexi-executor-docker/
debian/multiflexi-executor.substvars
debian/multiflexi-executor-docker.substvars
debian/files
debian/tmp/composer.json
debian/multiflexi-executor-docker.debhelper.log
debian/multiflexi-executor.debhelper.log
/nbproject/private/
/.env
.build/
debian/multiflexi-executor-dev/
debian/multiflexi-executor-azure.substvars
debian/multiflexi-executor-dev.substvars
debian/multiflexi-executor-k8s.substvars
debian/multiflexi-executor-podman.substvars
debian/multiflexi-executor-azure/
debian/multiflexi-executor-podman/
debian/multiflexi-executor-k8s/
debian/multiflexi-executor-dev.debhelper.log
debian/multiflexi-executor-podman.debhelper.log
debian/multiflexi-executor-k8s.debhelper.log
debian/multiflexi-executor-azure.debhelper.log
debian/debhelper-build-stamp
