Source: multiflexi-executor
Section: web
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
 pkg-php-tools,
 jq,
 moreutils
Standards-Version: 4.7.0
Homepage: https://multiflexi.eu/
Rules-Requires-Root: no
Vcs-Git: https://github.com/VitexSoftware/multiflexi-executor.git
Vcs-Browser: https://github.com/VitexSoftware/multiflexi-executor

Package: multiflexi-executor
Architecture: all
Depends:
 ${misc:Depends},
 multiflexi-sqlite (>= 2.4.1) | multiflexi-mysql (>= 2.4.1) | multiflexi-pgsql (>= 2.4.1), ${phpcomposer:Debian-require}
Suggests: multiflexi-cli, multiflexi-executor-docker
Description: execute MultiFlexi jobs
 Execute once scheduled job in MultiFlexi and store its
 result.


Package: multiflexi-executor-docker
Depends: ${misc:Depends}, multiflexi-executor, docker-ce-cli|docker.io
Replaces: multiflexi-docker
Architecture: all
Description: Run MultiFlexi tasks in container
 Run MultiFlexi tasks in Docker container

#Package: multiflexi-executor-podman
#Depends: ${misc:Depends},multiflexi-executor, podman
#Architecture: all
#Description: Run MultiFlexi tasks in container
# Run MultiFlexi tasks in container

Package: multiflexi-executor-k8s
Depends: ${misc:Depends}, multiflexi-executor, kubectl | kubernetes-client
Architecture: all
Description: Run MultiFlexi tasks on Kubernetes
 Run MultiFlexi tasks on Kubernetes clusters using kubectl

Package: multiflexi-executor-podman
Depends: ${misc:Depends}, multiflexi-executor, podman
Architecture: all
Description: Run MultiFlexi tasks in Podman
 Run MultiFlexi tasks in Podman containers

Package: multiflexi-executor-azure
Depends: ${misc:Depends}, multiflexi-executor, azure-cli
Architecture: all
Description: Run MultiFlexi tasks in Azure Containers
 Run MultiFlexi tasks in Azure using `az` CLI

Package: multiflexi-executor-dev
Depends: ${misc:Depends}, multiflexi-executor
Architecture: all
Description: Development helpers for MultiFlexi executor
 Includes test helpers and fake executor for development and CI

