#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer


override_dh_install:
	mkdir -p debian/tmp/
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/multiflexi-executor/usr/share/php/MultiFlexi/Executor/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/multiflexi-executor/usr/share/php/MultiFlexi/Executor/autoload.php
	sed -i -e 's/.\.\/vendor/\/usr\/share\/php\/MultiFlexi\/Executor\//g' debian/multiflexi-executor*/usr/share/multiflexi-executor/*.php
	sed -i -e 's/\.\.\/\.env/\/etc\/multiflexi\/\multiflexi\.env/g' debian/multiflexi-executor*/usr/share/multiflexi-executor/*.php
